.chat-card {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 450px;
  margin: 5px;
  gap: 5px;
  padding: 15px 15px;
  border: 2px solid rgb(219, 219, 219);
  border-radius: 5px;
}

.chat-card-name {
  font-size: 20px;
  font-weight: 900;
  color: #283d3b;
}
