.component {
  /* background: rgba(196, 69, 54, 0.8); */
  background: rgba(237, 221, 212, 0.8);
  height: auto;
  padding: 30px;
  border: 2px solid rgb(219, 219, 219);
  border-radius: 5px;
  flex-grow: 1;
}

#connect {
  width: 600px;
}

#connect-wrapper {
  height: 80vh;
  overflow-y: scroll;
}

.component-header {
  font-size: 40px;
  font-weight: 800;
  color: rgba(40, 61, 59, 0.8);
  letter-spacing: 1px;
}
