body {
  margin: 0;
  font-family: Helvetica, 'Trebuchet MS', sans-serif;
}

#header {
  display: flex;
  background-color: #90a0b0;
  height: 50px;
  padding: 0px 10px;
  align-items: center;
  justify-content: center;
}

#translation-banner {
  margin-top: 5px;
  padding: 10px;
  min-height: 100px;
  width: 300px;
  align-self: center;
  border-radius: 10px;
  background-color: #a2cae6;
}

.container {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.messages-container {
  height: 90%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  display: none;
}

.message {
  max-width: 60%;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 10px;
  box-sizing: border-box;
  clear: both;
  overflow-wrap: break-word;
}

.them {
  background: #dbebff;
  width: fit-content;
}

.me {
  background: #a2cae6;
  align-self: flex-end;
}

.message-time {
  color: rgb(150, 150, 150);
  padding-top: 5px;
  font-size: 0.7rem;
}

.me .message-text {
  text-align: left;
}

.me .message-time {
  float: right;
}

.input-container {
  max-height: 60%;
  /* display: flex; */
  /* flex-direction: row; */
  margin-top: auto;
  padding: 15px 40px;
  background: rgba(142, 181, 225, 0.4);
  box-sizing: border-box;
}

input {
  background: rgb(255, 255, 255);
  align-self: center;
  width: 40%;
  height: 100%;
  margin: 0 10px 0 0;
  padding: 0 20px;
  border: 0;
  border-radius: 15px;
  outline: none;
  color: #666;
  font-size: 1em;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  height: 40px;
}

.send-button {
  border-width: 0;
  background: rgb(255, 255, 255);
  outline: none;
  width: 10%;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  align-self: end;
  color: rgb(127, 132, 148);
  border-radius: 15px;
}

.send-button:hover {
  background-color: rgb(192, 198, 222);
  color: rgba(255, 255, 255);
}

.simple-keyboard {
  display: none;
  height: 380px;
  width: auto;
}

@media only screen and (max-width: 600px) {
  .send-button {
    width: 20%;
    min-width: 10px;
  }

  .input-container {
    padding: 15px 20px;
  }
}
