.message {
  max-width: 60%;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 10px;
  box-sizing: border-box;
  clear: both;
  overflow-wrap: break-word;
}

.time-and-translate-icon {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.them {
  width: fit-content;
  background-color: hsl(22, 41%, 95%);
  display: flex;
  flex-direction: column;
}

.me {
  background: hsl(22, 41%, 80%);
  width: fit-content;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
}

.message-time {
  color: rgb(150, 150, 150);
  padding-top: 5px;
  font-size: 0.7rem;
}

.me .message-text {
  text-align: left;
}

.me .message-time {
  float: right;
  padding: 5px;
}

.translation {
  border-top: 1px solid gray;
  padding: 5px;
}

.translate {
  margin: 5px;
  width: fit-content;
  align-self: flex-end;
}

.send {
  color: #772e25;
}
