.message {
  max-width: 60%;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 10px;
  box-sizing: border-box;
  clear: both;
  overflow-wrap: break-word;
}

.them {
  background: #dbebff;
  width: fit-content;
}

.me {
  background: #a2cae6;
  align-self: flex-end;
}

.message-time {
  color: rgb(150, 150, 150);
  padding-top: 5px;
  font-size: 0.7rem;
}

.me .message-text {
  text-align: left;
}

.me .message-time {
  float: right;
}

.translation {
  background-color: rgb(125, 181, 237);
  padding: 5px;
}
