#landing-body {
  display: flex;
}
/* #landing-image {
  width: 880px;
  position: absolute;
  bottom: 0px;
  z-index: 1;
} */

#left {
  display: flex;
  flex-direction: column;
  width: 880px;
}

.slogan {
  margin-top: 70px;
  /* align-self: center; */
  padding-left: 180px;
  z-index: 10;
  font-size: 55px;
  font-weight: 900;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 350px;
}

#landing-chat {
  color: #283d3b;
}

#landing-connect {
  color: #197278;
  padding-left: 60px;
}

#landing-learn {
  color: #283d3b;
  padding-left: 170px;
}

.header {
  background-color: #772e25;
  height: 75px;
  color: #f6f2e9;
  font-size: 50px;
  font-weight: 700;
  padding-left: 30px;
}
