.dash-items-container {
  display: flex;
  height: 97vh;
  gap: 40px;
  padding: 20px 50px 0px;
  background-color: rgb(196, 69, 54, 0.7);
}

.profile-and-chats-container {
  height: 76vh;
}

.dash-header {
  background-color: #772e25;
  color: #f6f2e9;
  font-weight: 700;
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
}

.lingua {
  margin: 0px 30px;
  font-size: 44px;
}

.user {
  margin: 0px 50px;
  font-size: 25px;
}
